<%= render partial: 'layouts/menu' %>

<div class="about container">
	<div class="row-fluid">
		<div class="span10">
			<div class="hero-unit">
				<h1>A perfect timer for your event</h1>
			</div>
		</div>
		<div class="span2">
			<a href="/presentation" class="dot_link">Interactive presentation</a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h2>Why a stopwat.ch ?</h2>	
			<p>

				- brief
				- Résultat (2ieme + photos + videos)
				- Liens vers les présentations
			</p>
		</div>
		<div class="span6">
			<div class="newsletter">
				<h2>Newsletter</h2>
				<p>Meanwhile if you want to stay in touch with us. Please subscribe to our newsletter</p>
				<p>We hate spam as much as you do ;-)</p>

				<form action="http://mailing.antistatique.net/t/r/s/gjrurj/" method="post" id="subForm" class="form-inline"> 

					<input type="text" name="cm-name" id="name" class="input-medium" placeholder="Name" />
					<input type="text" name="cm-gjrurj-gjrurj" id="gjrurj-gjrurj" class="input-large" placeholder="Email" />

					<button type="submit" class="btn btn-primary">Subscribe now</button>

				</form>
			</div>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="span8">
			<h2>Price model</h2>
			<table width="100%" class="table">
				<tr height="60">
					<td>

					</td>
					<td>
						<h3 class="offer_free">Free</h3>
					</td>
					<td>
						<h3 class="offer_10">$10</h3>
					</td>
					<td>
						<h3 class="offer_30">$30</h3>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Admin device</strong>
					</td>
					<td>
						1
					</td>
					<td>
						unlimited
					</td>
					<td>
						unlimited
					</td>
				</tr>
				<tr>
					<td>
						<strong>Viewer</strong>
					</td>
					<td>
						unlimited
					</td>
					<td>
						unlimited
					</td>
					<td>
						unlimited
					</td>
				</tr>
				<tr>
					<td>
						<strong>Usage time</strong>
					</td>
					<td>

					</td>
					<td>
						1 day
					</td>
					<td>
						1 week
					</td>
				</tr>
				<tr>
					<td>
						<strong>Brandable</strong>
					</td>
					<td>

					</td>
					<td>
						yes
					</td>
					<td>
						yes
					</td>
				</tr>
				<tr>
					<td>
						<strong>Subdomain</strong>
					</td>
					<td>

					</td>
					<td>

					</td>
					<td>
						yes
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><a href="#" class="btn gopro" rel="popover" data-content="We are working on the pro version, please check back soon" data-original-title="Pro account coming soon">Go Pro</a></td>
					<td><a href="#" class="btn gopro" rel="popover" data-content="We are working on the pro version, please check back soon" data-original-title="Pro account coming soon">Go Pro</a></td>
				</tr>
			</table>

		</div>
		<div class="span4">
			<h2>&nbsp;</h2>
			<p>We have 3 offers for our timer </p>
		</div>

	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				- Contact (nos twitter, photo, agence, etc ...)
			</div>
		</div>

	</div>
</div>