<%= render partial: 'layouts/menu' %>

<div class="about container">
	<div class="row-fluid">
		- explication tarifs -> offre pro coming soon
		- inscription newsletter

		- Contact (nos twitter, photo, agence, etc ...)
		
		- brief
		- Résultat (2ieme + photos + videos)
		- Liens vers les présentations

		- 

	</div>
</div>