<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">STOPWAT.CH</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Timer</a></li>
          <li><a href="#about">About</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Change time</a></li>
              <li><a href="#">Define #hashtag</a></li>
              <li><a href="#">get QR code</a></li>
              <li class="divider"></li>
              <li><a href="#">Forward link</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>


<div class="stopwatch">
  <time class="dash days_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
    <span class="dash_title">j</span>
  </time>
  <time class="dash hours_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
    <span class="dash_title">:</span>
  </time>
  <time class="dash minutes_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
    <span class="dash_title">:</span>
  </time>
  <time class="dash seconds_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
  </time>
</div>

<div class="actions">
  <div class="btn-group">
    <button class="btn start">start</button>
    <button class="btn stop">stop</button>
    <button class="btn reset">reset</button>
  </div>
</div>
