<div class="row-fluid">
  <div class="span12">
    <div class="stopwatch">
      <div class="dash days_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">j</span>
      </div>
      <div class="dash hours_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">h</span>
      </div>
      <div class="dash minutes_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">'</span>
      </div>
      <div class="dash seconds_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">''</span>
      </div>
    </div>
  </div>
</div>