  <div class="home">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <img src="https://si0.twimg.com/profile_images/1867690836/1330715016_clock.png" alt="" width="100%">
        </div>
        <div class="span10">
          <h1 id="logo"><br/>stopwat.ch</h1>
          <h2>A better timer, the swiss way</h2>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span12">

          

          <form action="http://mailing.antistatique.net/t/r/s/gjrurj/" method="post" id="subForm" class="well form-inline"> 

            <input type="text" name="cm-name" id="name" class="input-medium" placeholder="Name" />
            <input type="text" name="cm-gjrurj-gjrurj" id="gjrurj-gjrurj" class="input-large" placeholder="Email" />

            <button type="submit" class="btn btn-primary">Subscribe now</button>

          </form>

        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Stopwatch 2012</p>
      </footer>
    </div>