



<div class="stopwatch">
  <time class="dash days_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
    <span class="dash_title">j</span>
  </time>
  <time class="dash hours_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
    <span class="dash_title">:</span>
  </time>
  <time class="dash minutes_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
    <span class="dash_title">:</span>
  </time>
  <time class="dash seconds_dash">
    <span class="digit">0</span>
    <span class="digit">0</span>
  </time>
</div>
<div class="actions">
  <div class="btn-group">
    <a class="btn" href="#start">start</a>
    <a class="btn" href="#stop">stop</a>
    <a class="btn" href="#reset">reset</a>
  </div>
</div>
