  <div class="home">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <img src="https://si0.twimg.com/profile_images/1867690836/1330715016_clock.png" alt="" width="100%">
      </div>
      <div class="span10">
          <h1 id="logo"><br/>STOPWAT.CH <small><a href="http://www.twitter.com/swissstopwatch">@swissstopwatch</a></small></h1>
          <h2>A better timer, the swiss way</h2>
      </div>
  </div>
</div>


<hr>
<div class="counter-block">
<div class="container-fluid">
<div class="row-fluid">
    <div class="span12">
    <h3 style="color:#fff;margin-left:8px">Service will be up in ...</h3>
</div>
</div>
  <div class="row-fluid" id="countdown_dashboard">

            <div class="dash days_dash" class="span2">
                <div class="digit">0</div>
                <div class="digit">3</div>
                <span class="dash_title">j</span>
            </div>

            <div class="dash hours_dash" class="span2">
                <div class="digit">1</div>
                <div class="digit">6</div>
                <span class="dash_title">h</span>
            </div>

            <div class="dash minutes_dash" class="span2">
                <div class="digit">1</div>
                <div class="digit">2</div>
                <span class="dash_title">'</span>
            </div>

            <div class="dash seconds_dash" class="span2">
                <div class="digit">5</div>
                <div class="digit">8</div>
                <span class="dash_title">''</span>
            </div>
            <div class="dash miseconds_dash" class="span2">
                <div class="digit">3</div>
                <div class="digit">5</div>
                <span class="dash_title">'''</span>
            </div>
    </div>
</div>
</div>

<hr>
<div class="container-fluid well">
<div class="row-fluid">
    <div class="span12">
        <h2>Newsletter</h2>
        <p>Meanwhile if you want to stay in touch with us. Please subscribe to our newsletter</p>
        <p>We hate spam as much as you do ;-)</p>
    </div>
</div> 
  <div class="row-fluid">
    <div class="span12">



      <form action="http://mailing.antistatique.net/t/r/s/gjrurj/" method="post" id="subForm" class="form-inline"> 

        <input type="text" name="cm-name" id="name" class="input-medium" placeholder="Name" />
        <input type="text" name="cm-gjrurj-gjrurj" id="gjrurj-gjrurj" class="input-large" placeholder="Email" />

        <button type="submit" class="btn btn-primary">Subscribe now</button>

    </form>

</div><!--/span-->

</div><!--/row-->

</div>
