/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

$baseFontFamily : 'Helvetica';


@import "bourbon";
@import "bootstrap";
@import "bootstrap-responsive";

/* CLOCK */
.stopwatch{
  padding: 20% 0;
  line-height: 60%;
  text-align: center;
  width: 100%;
  display: block;
  vertical-align: middle;
  letter-spacing: -0.08em;
}
.digit{
  color: $black;  
  margin: 0em;
  padding: 0em;
}
.dash{

}
.dash_title{
  display: none;
}
.days_dash{
  display: none;
}


.actions{
  position: fixed;
  bottom: 10px;
  width: 100%;
  
 text-align: center;
  .btn-group{
    display: inline-block;
  }
}