/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

$red:                             #9d261d;
$linkColor:                       $red;

$baseFontFamily :                 'Helvetica';
$navbarBackground:                #fff;
$navbarBackgroundHighlight:       #fff;
$navbarLinkBackgroundHover:       transparent;

$navbarText:                      #000;
$navbarLinkColor:                 #000;
$navbarLinkColorHover:            $red;


@import "bourbon";
@import "bootstrap";
@import "bootstrap-responsive";
@import "theme";

/* BRAND */
.logo{
  display: block;
  float: left;
  width: 150px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
.logo strong{
  text-transform: lowercase;
  color: $black;
  font-size: 30px;
  font-weight: normal;
  span{
    color: $red;
  }
}
.navbar-inner{
  text-transform: uppercase;
  background-color: $white;
  background-image: none;
  @include box-shadow(0 0px 0px rgba(0,0,0,0));
  li a{
    padding: 1em 0.6em !important;
    cursor: pointer;
  }
}

/* ABOUT */
.about{
  margin-top: 5em;
  .hero-unit{
    h1{
      font-size: 3em;
    }
  }
  .dot_link{
    width:130px;
    font-size: 20px;
    line-height: 22px;
    height: 100px;
    display: block;
    margin: 0 auto 20px;
    color: #fff;
    text-align: center;
    padding: 50px 10px 0;
    background-color: $red;
    @include border-radius(75px);

    &:hover{
      background-color: lighten($red, 10%);
      text-decoration: none;
    }
  }
}


/* HASHTAG */
.tools{
  margin-top: 1em;
}

/* CLOCK */
.stopwatch{
  padding: 20% 0 18%;
  line-height: auto;
  text-align: center;
  width: 100%;
  display: block;
  vertical-align: middle;
  letter-spacing: -0.14em;
}
.digit{
  color: $black;  
  margin: 0em;
  padding: 0em;
}
.dash{

}
.dash_title{
  color: $black;
}
.days_dash{
  display: none;
  letter-spacing: -0.3em;
}

/* VISUAL TIMER */
.inner-line{
  background-color: $red;
  height: 100%;
  width: 0%;
}
.line{
  width: 100%;
  height:4%;
  position: fixed;
  bottom:0;
  left:0;
}

/* TWITTER WALL */
.twitter_feed{
  background-color: $grayLighter;
  display: none;
}
.twitter_hash{
  padding: 1em;
}
.tweet{
  min-height:190px;
  padding-right: 1em;
  margin-left: 240px;
  p{
    padding: 0.4em 0;
    font-size: 3em;
    line-height: 1.2em;
  }
}
.profile_pic{
  float: left;
  margin-right: 2em;
  padding: 20px;
}
.twitter_feed_display{
  display: block;
}
@media (max-width: 979px) {
  .twitter_feed, .twitter_feed_display{
    display: none;
  }
}

/* ACTIONS */
.actions{
  position: fixed;
  bottom: 10px;
  width: 100%;

 text-align: center;
  .btn-group{
    display: inline-block;
  }
}
