/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

$red:                             #9d261d;
$linkColor:                       $red;

$baseFontFamily :                 'Helvetica';
$navbarBackground:                #fff;
$navbarBackgroundHighlight:       #fff;
$navbarLinkBackgroundHover:       transparent;

$navbarText:                      #000;
$navbarLinkColor:                 #000;
$navbarLinkColorHover:            $red;


@import "bourbon";
@import "bootstrap";
@import "bootstrap-responsive";
@import "theme";

/* BRAND */
.logo{
  display: block;
  float: left;
  background: image-url('logo_stopwatch.png') no-repeat 0 50%;
  width: 150px;
  height: 30px;
  margin-left: 10px;
  margin-top: 6px;
}
.logo strong{
  display: none;
}
.navbar-inner{
  text-transform: uppercase;
  background-color: $white;
  background-image: none;
  @include box-shadow(0 0px 0px rgba(0,0,0,0));
  li a{
    cursor: pointer;
  }
}

/* HashTag */
.tools{
  margin-top: 1em;
}

/* CLOCK */
.stopwatch{
  padding: 20% 0;
  line-height: auto;
  text-align: center;
  width: 100%;
  display: block;
  vertical-align: middle;
  letter-spacing: -0.14em;
}
.digit{
  color: $black;  
  margin: 0em;
  padding: 0em;
}
.dash{

}
.dash_title{
  color: $black;
}
.days_dash{
  display: none;
  letter-spacing: -0.3em;
}

/* VISUAL TIMER */
.inner-line{
  background-color: $red;
  height: 100%;
  width: 50%;
}
.line{
  width: 100%;
  height:4%;
  position: fixed;
  bottom:0;
  left:0;
}

/* TWITTER WALL */
.twitter_feed{
  display: none;
}


/* ACTIONS */
.actions{
  position: fixed;
  bottom: 10px;
  width: 100%;

 text-align: center;
  .btn-group{
    display: inline-block;
  }
}