<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="logo" href="/"><strong>stopwat<span>.</span>ch</strong></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/about">about</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a class="timer-event start"> start <i class="icon-play"></i></a></li>
          <li><a class="timer-event stop"> stop <i class="icon-stop"></i></a></li>
          <li><a class="timer-event reset"> reset <i class=" icon-repeat"></i></a></li>
          <li class="divider-vertical"></li>
          <li><a href="#configure" data-toggle="modal"> Admin <i class="icon-cog"></i></a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>